body {
	background-color: #000;
	color: #0f0;
	font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
}

.matrix-container {
	margin-top: 150px;
}

h1 {
    text-align: center;
	font-size: 45px;
}

p {
	font-size: 17px;
	margin-top: 50px;
}

#txt{
    width: 70%;
    margin: auto;
    text-align: justify;
  }

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    letter-spacing: 2px;
  }
  
  nav a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  nav a:hover::before {
    opacity: 0.1;
  }
  
  nav a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  footer{
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

@media screen and (max-width: 812px){
    .logo{
      width: 100%;
    }
  }
  
  @media screen and (max-width: 400px){
    .logo{
      height: 100%;
    }
  }

  .table-container {
    margin: 20px auto;
    width: 50%;
  }
  
  table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
  }
  
  thead th {
    background-color: #000000;
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
  }
  
  tbody td {
    border: 1px solid #000000;
    padding: 8px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #000000;
  }
  
  tbody tr:hover {
    background-color: #003f05;
  }
  
  td:first-child {
    font-weight: bold;
    width: 20%;
  }
  
  td:nth-child(2) {
    width: 30%;
  }
  
  td:nth-child(3) {
    font-family: monospace;
    text-align: center;
    width: 50%;
  }

  .cod {
    width: 40%;
    margin: 20px auto;
    text-align: justify;
    background-color: #3b3b3b;
  }

  h2 {
    text-align: center;
  }
  
  h3 {
    text-align: center;
  }

  #table-container2 {
    margin: 20px auto;
    width: 50%;
    text-align: center;
  }

  .resp {
    width: 40%;
    margin: 20px auto;
    text-align: justify;
    background-color: #3b3b3b;
  }